<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

  <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"  media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/teams.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/blogs.css' %}">
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}">

  
  {% block style %}
  {% endblock style %}


  <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  
  <!-- <link rel="shortcut icon" href="{% static 'favicon.png' %}"/> -->
  
  {% block head %}
  {% endblock head %}

  {% block title %}
      <title>MUACM</title>
  {% endblock title %}
  
  {% block headScript %}
  {% endblock headScript %}

</head>
<body>

 
 

<!--  Nav Bar -->
{% comment %} <div class="upper"> {% endcomment %}
        <div class="navbar">
          
          <section class="name">
            <a href="{% url 'acmapp:home-page' %}">
              <img src="{% static 'MuACMlogo.png' %}" alt="logo" class="logo">
            </a>
          </section>
          <section class="menu">
            <a href="{% url 'acmapp:home-page' %}" class="menu1"><b>HOME</b></a>
            <a href="{% url 'acmapp:home-page' %}#aboutusID" class="menu2">ABOUT ACM</a>
            <a href="{% url 'acmapp:blog-page' %}#blogID" class="menu3">BLOGS</a>
            <a href="{% url 'acmapp:team-page' %}" class="menu3">TEAM</a>
            <a href="{% url 'acmapp:project-page' %}" class="menu2">PROJECTS</a>
            <a href="{% url 'acmapp:home-page' %}#eventID" class="menu3">EVENTS</a>
            <a href="{% url 'acmapp:contact-page' %}" class="menu3">CONTACT</a>
            
          </section>
          <div class = "theme">
            <div>
              <input type="checkbox" class="checkbox" id="chk" />
              <label class="label" for="chk">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div class="ball"></div>
              </label>
            </div>
          </div>
          
        </div>
        <!-- Nav bar end-->
  
      {% block body %}
        <div class="container-fluid">
            <div class="container">
                <h1> Default body below navbar </h1>
            </div>
        </div>
      {% endblock body %}

    <!--  Chatbot df start-->    
<df-messenger
  intent="WELCOME"
  chat-title="muacm"
  agent-id="4907c2af-4153-42db-832a-d6f3fd52dd40"
  language-code="en"
></df-messenger>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1%22%3E"</script>
    <!--  Chatbot end-->

    
  <!-- footer start-->
  <div id="footer">
    <div class="f_container">
        <div class="box1">
          <img src="{% static 'MuACMlogo.png' %}" alt="MUACM Demo Logo" />
        </div>
        <div class="box2">
          <h3>Usefull Links</h3>
          <ul>
              <a href="#">
                <li>Home</li>
              </a>
              <a href="#">
                <li>Blogs</li>
              </a>
              <a href="#">
                <li>Teams</li>
              </a>
              <a href="">
                <li>Events</li>
              </a>
                    <!--option to download source code-->
          </ul>
        </div>
        <div class="box3">
        <h3>Social Media</h3>
        <ul class="redesSociais">
          <li class="pinterest"><a href="https://www.pinterest.com/" target="_blank"><img src="http://i904.photobucket.com/albums/ac243/guilhermehebert/pinterest.png" alt=""/></a></li>
          <li class="facebook"><a href="https://www.facebook.com/" target="_blank"><img src="http://i904.photobucket.com/albums/ac243/guilhermehebert/fb.png" alt="" /></a></li>
          <li class="twitter"><a href="https://www.twitter.com/" target="_blank"><img src="http://i904.photobucket.com/albums/ac243/guilhermehebert/twitter.png" alt="" /></a></li>
          <li class="googleplus"><a href="https://www.plus.google.com/" target="_blank"><img src="http://i904.photobucket.com/albums/ac243/guilhermehebert/google.png" alt="" /></a></li>
          <li class="skype"><a href="https://www.skype.com/" target="_blank"><img src="http://i904.photobucket.com/albums/ac243/guilhermehebert/skype.png" alt="" /></a></li>
        </ul>
      </div>
        <div class="box4">
        <h3>Contact Us</h3>
        <ul>
          <li><i class="fas fa-envelope"></i>emailaddress@email.com</li>
          <li><i class="fas fa-phone"></i> +91 1234567890</li>
          <li><i class="fas fa-map-marker-alt"></i>Indore, India</li>
        </ul>
      </div>

    </div>

    <div class="bar">
      <p>Copyright &copy; 2021 <a>MUACM</a> All rights Reserved</p>
    </div>

  </div>
  <!-- footer end-->


<!-- TODO what is this script for-->
 <script> 
    function addMsg(event) { 
        var clickedButton = event.target;
        clickedButton.classList.add("success");
    }

    var buttons = document.getElementsByClassName("sharer");


const chk = document.getElementById('chk');

    for(var i = 0; i < buttons.length; i += 1) {
        buttons[i].addEventListener("click", addMsg, false);
    }   


chk.addEventListener('change', () => {
	document.body.classList.toggle('dark');
});
</script>

{% block bodyScript %}
{% endblock bodyScript %}

</body>

</html>