@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  font-size: larger;
  z-index: 2;
  background-color: white;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.menu {
  position: relative;
  padding-top: 20px;

}

.menu1,
.menu2,
.menu3 {
  padding: 15px;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 14%;
}

.blogs {
  margin-top: 8em;
}

.blogs {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.blogs_container {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.blog_card {
  width: 250px;
  box-shadow: 12px 20px 120px rgb(223, 223, 223);
  padding: 2em;
  background-color: white;
  margin-right: 1em;
  margin-left: 1em;
}

.blog_image {
  width: 100%;
  outline: black solid;
}

.blog_name {
  color: black;
  font-family: "Poppins", monospace;
}

.blog_date {
  font-family: "Poppins", monospace;
  font-size: small;
}

.button {
  color: blue;
  font-weight: 600;
  width: 100%;
  font-family: "Poppins", monospace;
}

.button:hover {
  text-decoration: none;
}