h1.redesSociais {
  display: none;
}

ul.redesSociais {
  padding-left: 0;
  width: 620px;
  height: 100px;
  position: relative;
  left: 50%;
  margin-top: -30px;
  margin-left: -310px;
  margin-bottom: 60px;
  cursor: pointer;
}

ul.redesSociais li {
  list-style-position: inside;
  display: block;
  position: absolute;
  right: 50%;
  transition: all 500ms;
}

/*Sem Mouse*/
ul.redesSociais li.pinterest {
  transform: scale(0.5);
  margin-right: -10px;
  z-index:0;
}
ul.redesSociais li.facebook {
  transform: scale(0.5);
  margin-right: -30px;
  z-index:1;
}
ul.redesSociais li.twitter {
  transform: scale(0.5);
  margin-right: -50px;
  z-index:2;
}
ul.redesSociais li.googleplus {
  transform: scale(0.5);
  margin-right: -70px;
  z-index:1;
}
ul.redesSociais li.skype {
  transform: scale(0.5);
  margin-right: -90px;
  z-index:0;
}

/*Com Mouse*/
ul.redesSociais:hover li.pinterest {
  margin-right: 190px;
}
ul.redesSociais:hover li.facebook {
  margin-right: 70px;
}
ul.redesSociais:hover li.twitter {
  margin-right: -50px;
}
ul.redesSociais:hover li.googleplus {
  margin-right: -170px;
}
ul.redesSociais:hover li.skype {
   margin-right: -290px;
}
