{% extends 'base.html' %}

{% block title %}
    <title>Login</title>
{% endblock title %}


{% block body %}

    <div class="row d-flex justify-content-center" style="border: 3px dashed;width: 400px">
        <form method="post" class="col-lg-6 pt-5 pb-5">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group">
                <label>Username</label>
                {{ form.username.errors }}
                {{ form.username }}
            </div>

            <div class="form-group">
                <label>Password</label>
                {{ form.password.errors }}
                {{ form.password }}
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>
    </div>
{% endblock body %}