/// importing google.fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


#stickynote {
  width: 260px;
  height: 80px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  border-radius: 4px;
}

.quote {
  font-weight: 500;
  padding-left: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding-right: 4px;
  margin: auto;
}

.pin {
  width: 45px;
  height: 45px;
}