
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.footer {
    width: 100%;
    background: #C7C7C7;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
