{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block title %}
    <title> Blog Page </title>
{% endblock title %}


{% block body %}
    
     <!--Blogs Section-->
  <div class="blogs">
    <h1 style="color: black; font-family: Poppins, monospace; text-align: center;">Our Blogs</h1>
    <div class="blogs_container">

     <div class="blog_card">
        <img src="{% static 'demo_character.jpg' %}" alt="blog-name" class="blog_image">
        <div class="details">
          <h3 class="blog_name">Title of the Blog</h3>
          <p class="blog_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolores...</p>
          <p class="blog_date"><b>12th March, 2021</b></p>
          <p class="author_name">By, John Doe</p>
        </div>
      </div>

      <div class="blog_card">
        <img src="{% static 'demo_character.jpg' %}" alt="blog-name" class="blog_image">
        <div class="details">
          <h3 class="blog_name">Title of the Blog</h3>
          <p class="blog_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolores...</p>
          <p class="blog_date"><b>12th March, 2021</b></p>
          <p class="author_name">By, John Doe</p>
        </div>
      </div>
    
    </div>
  </div>


{% endblock body %}



{% block script %}
{% endblock script %}



