{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/event.css' %}">
{% endblock style %}

{% block title %}
    <title> Event Page </title>
{% endblock title %}

{% block body %}
    <h1 style="color: black; font-family: Poppins, monospace; text-align: center;">Events</h1>
    <div class="event_container">
    {% for event in events %}
        <div class="event_card">
            <img src="{{ event.image.url }}" alt="event-name" class="event_image">
            <h3 class="event_name">{{ event.title }}</h3>
            <p class="event_desc">{{ event.description }}</p>
            <a href="#" class="button">See Events</a>
        </div>
    {% endfor %}
    </div>
{% endblock body %}

{% block script %}
{% endblock script %}
