<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/mysite/static/main.css">
    <title> Event Page </title>
</head>
<body>
    <h1 style="color: black; font-family: Poppins, monospace; text-align: center;">Events</h1>
    <div class="event_container">
    
        <div class="event_card">
            <img src="/mysite/static/demo_character.jpg" alt="event-name" class="event_image">
            <h3 class="event_name">Event Title Here</h3>
            <p class="event_desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, voluptates!</p>
            <a href="#" class="button">See Events</a>
        </div>
    
    </div>
</body>
</html>
  


    

