{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title> Home Page </title>
{% endblock title %}

{% block body %}
    
    {% comment %} upper div ? {% endcomment %}
    <div class="slider">
        <!-- Swiper -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

    </div>

    {% comment %} div of upper ?</div> {% endcomment %}


  <div class="container">
    <canvas id="canvas"></canvas>
  </div>

  <div class="container">
    <canvas>your browser is not support canvas,please upgrade your browser</canvas>
    <div class="input">
      <input type="text" id="updateText" placeholder="type your word">
      <button id="updateButton">submit</button>
    </div>
    <div class="fork-me" style="position: absolute;right: 0px;top: 0px;z-index: 1001;">
      <a href="https://github.com/chen844033231/particleText"><img src="images/forkme.png" width="149" height="149" alt="github" /></a>
    </div>
  </div>


  <script src="{% static 'js/particle.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  
      <div class="about_us" id="aboutusID">
        <h1 class="headline">About ACM Medicaps Chapter</h1>
        <p class="about_us_description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati veniam fugit nemo non veritatis dolor ipsa facilis, nihil consequuntur aperiam ullam recusandae doloribus perspiciatis, quo aliquid saepe a vel illo.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum molestiae saepe accusantium id fugit tempore commodi delectus voluptates dolorem a illo laborum dolorum sapiente exercitationem minima eligendi, ab cumque et?
        </p>
      </div>

      <div class="team" id="teamID">
        <h1 style="color: black; font-family: Poppins, monospace; text-align: center;">Team Members</h1>
        <div class="team_container">
          
          <div class="profile_card">
            <img src="demo_character.jpg" alt="profile-photo" class="profile_image">
            <h3 class="profile_name">John Doe</h3>
            <p class="profile_desc">Position Name</p>
            <div class="profile_icons">
              <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
              <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
              <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>

        </div>
        <a href="{% url 'acmapp:team-page' %}">More</a>
      </div>

      <div class="events" id="eventID">
        <h1 style="color: black; font-family: Poppins, monospace; text-align: center;">Events</h1>
        <div class="event_container">

          <div class="event_card">
            <img src="demo_character.jpg" alt="event-name" class="event_image">
            <h3 class="event_name">Name of the Event</h3>
            <p class="event_desc">Lorem ipsum dolor sit amet consectetur.</p>
            <a href="#" class="button">See Events</a>
          </div>

        </div>
        <a href="{% url 'acmapp:event-page' %}">More</a>
      </div>

    {% comment %} TODO here contact page {% endcomment %}
      <div id="contactID">
        Contact Page
      </div>

{% endblock body %}



{% block bodyScript %}
      <!-- Initialize Swiper -->
      <script>
            var swiper = new Swiper('.swiper-container', {
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
            });
      </script>
{% endblock bodyScript %}



